# IntelliJ project files
.idea
client/dist/assets/js/bundle.js
client/dist/assets/js/bundle.js.map
client/dist/assets/js/vendor.bundle.js
client/dist/assets/js/vendor.bundle.js.map
client/node_modules/
server/node_modules/
