.react-boolean-datagrid-filter {
    padding: 0px 10px;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 0 rgba(255, 255, 255, 0.45);
    border: 1px solid #a6a9ac;
    width: 100px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: white;
    height: 26px;
    line-height: 26px;
}

.react-boolean-datagrid-filter > input[type="radio"] {
    margin-top: -4px;
    vertical-align: middle;
}